.entire-content {
    text-align: center;
    color: white;
}

.entire-content h1 {
    font-size: 50px;
    padding-bottom: 80px;
    font-weight: 550;
}

.input Label {
    font-size: 35px;
}

.input Input {
    font-size: 18px;
    width: 50%;
    margin: auto;
    padding: 6px 12px;
}

.form Button {
    background-color: #0dcaf0;
    width: 100px;
    padding: 10px;
    margin: 20px 10px 0px;
    display: inline-block;
}